.filter__none {
  filter: none;
}

.filter__sepia {
  filter: sepia(50%);
}

.filter__sturate_contrast {
  filter: saturate(200%) contrast(200%);
}

.filter__hue-rotate {
  filter: hue-rotate(50deg);
}

.filter__invert {
  filter: invert(10%);
}

.filter__sepia-full {
  filter: sepia(70%);
}

.filter__blur {
  filter: blur(1px);
}

.filter__hue-rotate_blur {
  filter: hue-rotate(20deg) blur(1px);
}