/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: var(--main-font), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-card);
}

header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
  margin-inline: auto;
  margin-block: 100px;
  border: 2px solid #000;
  padding: var(--header-padding);
  font-family: var(--accent-font), 'Courier New';
  inline-size: var(--header-size);
}

.header__title {
  font-weight: var(--font-weight-card);
  font-size: var(--header-title-size);
  line-height: 100%;
}

.header__description {
  font-weight: inherit;
  font-size: var(--header-description-size);
  line-height: 100%;
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 50px;
  margin-block-end: 50px;
}

.content__section {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 696px;
}

.section__card {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
}

.card__title {
  padding: 3px 24px 3px 10px;
  font-size: 18px;
  line-height: 140%;
  font-variation-settings: 'wght' var(--font-weight-title);
}

.card__image-container {
  position: relative;
  width: 696px;
  height: 700px;
  
  overflow: hidden;
}

.card__image-container img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 23px;
  font-family: var(--accent-font);
  font-weight: var(--font-weight-card);
  font-size: 14px;
  line-height: 100%;
  text-shadow:  0px 0px 2px var(--shadow-color);
  mix-blend-mode: hard-light;
}

@supports (mix-blend-mode: hard-light) or (-webkit-mix-blend-mode: hard-light) {
  .card__image-label {
    mix-blend-mode: hard-light;
    -webkit-mix-blend-mode: hard-light;
    text-shadow: none;
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__button-container {
  display: flex;
  align-items: center;
  gap: 6px;
  align-self: flex-end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.like__icon {
  flex-shrink: 0;
  width: 27px;
  height: 24px;
  object-fit: contain;
}

.card__like-button {
  border: 2px solid #000;
  padding: 7px 32px;
  background-color: transparent;
  cursor: pointer;
  inline-size: 130px;
}

.button__text {
  vertical-align: middle;
  overflow: hidden;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  text-overflow: ellipsis;
  font-variation-settings: 'wght' var(--font-weight-card);
  white-space: nowrap;
}

.button__save {
  display: flex;
  flex-shrink: 0;
  justify-self: center;
  align-items: center;
  align-self: center;
  gap: 8px;
  max-width: 335px;
  border: 2px solid #000;
  padding: 15px 18px;
  background-color: transparent;
}

.button__save svg {
  display: block;
  width: 21px;
  height: 21px;
  object-fit: cover;
}