/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --font-weight-card: 400;
  --font-weight-title: 700;
  --header-title-size: clamp(49px, 4.5vw, 65px);
  --header-description-size: clamp(14px,calc(14px + (23 - 14) * (100vw - 375px) / (1440 - 375)), 23px);
  --header-padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  --header-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}